:root {
  --s: 0.5rem;
  --m: 1rem;
  --l: 2rem;
  --xl: 4rem;

  --primary-color: green;
  --on-primary-color: #fff;
  --surface-color: white;
  --on-surface-color: #243238;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--surface-color);
}

.header {
  display: flex;
  padding: var(--s);
}
.header__search {
  flex: 1;
  display: flex;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
